<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
	rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	 crossorigin="anonymous">

	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<style>
		table, th, td {
		  border: 3px solid steelblue;
		  border-collapse: collapse;
		}
	</style>

	<title>autor lista</title>
</head>

<body  style="background-color: black;">
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>autor</th>
				<th>alta</th>
				<th>editar</th>
				<th>dar de baja</th>
				<th>dar de alta</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="auto : ${autor}">
				<td th:text="${auto.id}"></td>
				<td th:text="${auto.nombre}"></td>
				<td style="text-align: center;"><i th:if="${auto.alta}"  class="fa fa-circle" style="color: green;"></i>
					<i th:unless="${auto.alta}" class="fa fa-circle"  style="color: red;"></i></td>
				<td><a th:href="@{/autor/modificar-autor(id=${auto.id})}"><input type="button" value="modificar" ></a></td>
				<td><a th:href="@{/autor/baja-autor/}+${auto.id}"><input type="button" value="dar de baja" ></a></td>
				<td><a th:href="@{/autor/activar-autor/}+${auto.id}"><input type="button" value="dar de alta" ></a></td>
			</tr>

			
		</tbody>
	</table>
	  <a th:href="@{/autor/crear-autor}"><li>agregar  autor</li></a>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</html>